# Dependency Directories
/node_modules

# Build & Output Folders
/dist
/build
/out
# Runtime and Cache File
.DS_Store
npm-debug.log
yarn-error.log
# ... other lines ...
/bad
.cache
/.cashe
your_content_data_NEW.csv

*.png
!public/icons/*.png

# Backups
backups/
